{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock %}
    
{% block content %}
<h1>Categories Page</h1>
<h2>Lista de Categorias</h2>
<a href="{{ url_for('category.create_cat') }}" class="btn">Nueva Categoria</a>
<table id="categories">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.category }}</td>
                <td>{{ cat.description }}</td>
                <td>
                    <a href="{{ url_for('category.update_cat', id=cat.id) }}">
                        <i class="fa fa-refresh fa-spin"></i>
                    </a> / 
                    <a href="{{ url_for('category.delete_cat', id=cat.id) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    