{% extends 'base.html' %}

{% block title %}
Agregar Categoria 
{% endblock  %}

{% block content %}
<form method="post">
   {{ form.csrf_token }}
   <div>
        {{ form.category.label }}
        {{ form.category(placeholder="Categoría") }}
        {% if form.category.errors %}
          {% for error in form.category.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        {% endif %}
   </div>
   <div>
        {{ form.description.label }}
        {{ form.description() }}
        {% if form.description.errors %}
          {% for error in form.description.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        {% endif %}
   </div>
   <div>
        {{ form.submit(class="btn btn-success") }}
   </div>
</form>
<a href="{{ url_for('category.categories') }}" class="btn btn-warning">Regresar</a>
{% endblock content %}
        