{% extends 'base.html' %}

{% block title %}
Agregar Categoria 
{% endblock  %}

{% block content %}
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}
<form method="post">
    <label for="category">Categoria</label>
    <input type="text" 
            name="category" 
            id="category"
            value="{{ request.form['category'] }}">
    <br>
    <label for="description">Descriptión</label>
    <input type="text" 
            name="description" 
            id="description"
            value="{{ request.form['description'] }}">
    <br>
    <input type="submit" value="Guardar" class="btn">
</form>
{% endblock content %}
        